pgvector==0.3.6
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg2-binary==2.9.10
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.75
langchain-openai==0.3.32
langchain-postgres==0.0.14
langchain-text-splitters==0.3.11
streamlit==1.43.2
openai==1.105.0
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
toml==0.10.2
tiktoken==0.8.0
langgraph==0.6.7
langgraph-runtime-inmem==0.12.0

