langchain>=0.3.19
langchain-chroma>=0.2.2
langchain-community>=0.3.18
langchain-core>=0.3.54
langchain-experimental>=0.3.4
openai>=1.78.1
langchain-openai>=0.3.5
langchain-postgres>=0.0.14
langchain-text-splitters>=0.3.6
streamlit>=1.43.2
psycopg>=3.2.9
psycopg-pool>=3.2.6
psycopg2-binary>=2.9.10
pgvector>=0.3.6
streamlit>=1.28.0
pydantic>=2.10.6
pydantic-settings>=2.7.1
pydantic_core==2.27.2
toml>=0.10.2
tiktoken>=0.8.0

